$orange: #f98b19;
$grey: #8f8f8f;
$black: #1c191c;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'SF Pro';
    background-image: url('./monterey.jpeg');
    background-size: cover;
  }

.App {
    display: flex;
    justify-content: center;
    align-items: center;
    height:100vh;
}
  .calculator{
      width: 414px;
      background:$black;
      border-radius: 25px;
      padding-bottom:25px;
      .display{
          border-radius: 25px;
          min-height:180px;
          width:100%;
          background:$black;
          color: white;
          text-align: right;
          font-size: 4rem;
          display: flex;
          align-items: center;
          justify-content: flex-end;
          overflow: auto;
          span{
              margin-right:0.8rem;
          }
          .before{
              position:absolute;
              font-size: 1.2rem;
              opacity: 0.7;
              margin-bottom:6rem;
          }
      }
      .row{
          width:100%;
          display: grid;
          grid-template-columns: 1fr 1fr 1fr 1fr;
          margin-top: 15px;
          justify-content: center;
          align-items: center;
          button{
            width:90px;
            height:90px;
            border:none;
            outline: none;
            border:1px solid $black;
            transition: all 0.3s ease 0s;
            font-size:2rem;
            font-weight: 100;
            color:white;
            background: #393839;
            border-radius: 12211212px;
            margin: 0 auto;
            &:hover{
                opacity: 0.9;
            }
            &:active{
                filter: brightness(300%);
            }
          }
          button[name='0']{
              grid-column: 1 / 3;
              width: 180px;
          }
          button[name='*']{
            background: $orange;
        }
        button[name='-']{
            background: $orange;
        }
        button[name='=']{
            background: $orange;
        }
        button[name='+']{
            background: $orange;
        }
        button[name='AC']{
            background: $grey;
            color: $black;
        }
        button[name='+-']{
            background: $grey;
            color: $black;
        }
        button[name='%']{
            background: $grey;
            color: $black;
        }
        button[name='/']{
            background: $orange;
        }
      }
  }